body {
    color: white;
}

.button {
    padding: 1%;
    transition-duration: 0.4s;
    font-family: "montserrat";
    text-decoration: none;
}

    .button:hover {
        background-color: #0a18b4;
        color: white;
        // border: solid;
    }

.header {
    width: 100%;
    height: 120px;
    position: relative;
}

#logo {
    position: relative;
    float: left;
    margin-right: 14px;
    padding: 5px;
}

.navbar2 {
    position: absolute;
    margin-left: 300px;
    font-family: Arial;
    width: 162px;
    top: 0px;
    right: 0;
}

    /* Links inside the navbar */
    .navbar2 a {
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 16px 16px;
        text-decoration: none;
        display: block;
    }

        .navbar2 a:hover { /*on hover effects*/
            background-color: blue;
        }
/* Navbar container */
.navbar {
    margin-left: 110px;
    overflow: hidden;
    font-family: Arial;
    width: 290px;
}

    /* Links inside the navbar */
    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 16px 16px;
        text-decoration: none;
    }

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

    /* Dropdown button */
    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit; /* Important for vertical align on mobile phones */
        margin: 0; /* Important for vertical align on mobile phones */
    }

    /* Add a red background color to navbar links on hover */
    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: blue;
    }

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    // background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: white;
        float: none;
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        /* Add a grey background color to dropdown links on hover */
        .dropdown-content a:hover {
            // background-color: #ddd;
            color: black;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.footer {
    position: relative;
    // left: 15px;
    bottom: 0;
    margin-top: 38%;
    // width: 100%;
    // background-color: red;
    //color: black;
    // text-align: center;
    // border:solid white;
}

#search-bar {
    position: absolute;
    //padding: 1%;
    border: solid;
    width: 300px;
    height: 20px;
    left: 40%;
    top: 20px;
    background-color: darkgray;
}

.title {
    font-size: 300%;
    position: relative;
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    }

    to {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0073e6, 0 0 40px #0073e6, 0 0 50px #0073e6, 0 0 60px #0073e6, 0 0 70px #0073e6;
    }
}

#home-text {
    position: relative;
    text-align: center;
    font-size: large;
    // animation: fading 1s ease-in-out infinite alternate;
    // text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

@keyframes fading {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff;
    }

    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    }
}

.more {
    position: relative;
    margin-left: 45%;
    margin-top: 1%;
    animation: fading 1s ease-in-out infinite alternate;
}

#background {
    position: fixed;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 35%;
    //max-height: 90%;
}

.Socialbar {
    text-decoration: none;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0px;
    // margin-left: 80%;
    margin: 10px;
    // font-size: 10px;
    text-decoration: none;
}

    .Socialbar img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 25px;
    }

    .Socialbar a:hover {
        zoom: 150%;
        box-shadow: 0 0 10px 10px rgba(0, 140, 186, 0.5);
    }

.button-grp {
}

.profil {
    border: solid transparent;
    position: relative;
    margin-top: 100px;
    margin-left: 200px;
    height: 820px;
    width: 1000px;
    padding-bottom: 25px;
    margin-bottom: 150px;
}

#label {
    position: relative;
    //margin:40px;
    margin-left: 20px;
    top: 55px;
    font-size: large;
}

.table1 {
    margin-bottom: 100px;
    width: 800px;
    margin-left: 10%;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 8px;
}

#label1 {
    position: relative;
    margin-left: 200px;
    margin-top: 55px;
    font-size: large;
    margin-right: 30px;
    display: inline-block;
}

#input {
    margin-top: 55px;
    position: relative;
    margin: 40px;
    margin-left: 30%;
}

#div1 {
    top: 55px;
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    position: relative;
    margin-left: 30%;
}

.p1 {
    position: relative;
    margin: 40px;
    margin-left: 200px;
    margin-top: 55px;
    font-size: large;
    margin-right: 30px;
}

.search {
    width: 50%;
    background-color: white;
}

.td1 {
}

th {
    //padding-top: 12px;
    //padding-bottom: 12px;
    text-align: left;
    background-color: grey;
    color: white;
    font-size: large;
}

.th1 {
    width: 40%;
}
#search-bar-user{
    position:absolute;
    left:300px;
    top:55px;
}