 .footer {
    position: relative;
   // left: 15px;
    bottom: 0;
    margin-top:38%;
   // width: 100%;
   // background-color: red;
    //color: black;
  //  text-align: center;
 // border:solid white;
}
.Socialbar {
    text-decoration: none;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0px;
    // margin-left: 80%;
    margin: 10px;
   // font-size: 10px;
    text-decoration: none;

    
}
    .Socialbar img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 25px;
    }
    .Socialbar a:hover {
        zoom: 150%;
        box-shadow: 0 0 10px 10px rgba(0, 140, 186, 0.5);
    }
    .button-grp{

    }