body {
    color: white;
}

.button {
    padding: 1%;
    transition-duration: 0.4s;
    font-family: "montserrat";
    text-decoration: none;
}

    .button:hover {
        background-color: #0a18b4;
        color: white;
        // border: solid;
    }


#names{
    position:absolute;
    top:35px;
    left :200px;
}

.button-grp {
}
.body-section {
    position: relative;
    margin-left: 30%;
    font-family: Arial;
    width: 700px;
    height: 900px;
    overflow: hidden;
    border: solid white;
}
#editer{
    position:relative;
    top:110px;
    float:left;

}
#profile-pic{
    position:absolute;
    top:0;
    left:0;
}
.button-section{

}
#resume{
    position: relative;
    float:left;
    top:170px;
    left:25px;
}
#resumetext {
    border: solid white;
    padding:10px;
    width: 500px;
    margin-left: 50px;
    position:relative;
    top: 200px;
    }

#email {
    position: relative;
    float: left;
    top: 200px;
    margin-top: 35px;
    margin-left: 25px;
    margin-bottom: 25px;
}
#Profession {
    position: absolute;
    float: left;
    top: 400px;
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: 25px;
    left: 5px;
}
#telephone {
    position: absolute;
    float: left;
    top: 450px;
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: 25px;
    left: 5px;
}
#emailtext {
    position: relative;
    float: left;
    top: 200px;
    margin-top: 35px;
    margin-left: 80px;
    margin-bottom: 25px;
}
#professiontext {
    position: absolute;
    float: left;
    top: 400px;
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: 25px;
    left: 100px;
}
#telephonetext {
    position: absolute;
    float: left;
    top: 450px;
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: 25px;
    left: 100px;
}
.toolsbox{
    position:absolute;
    left:650px;
    top:15px;
    width:100px;
    height:70px;
}